.cred{
    display: flex;
    align-items: center;
    max-height: 100px;
    max-width: 100%;
    justify-content: space-between;
    /* background:  linear-gradient(to bottom, rgb(226, 226, 182) 10%, rgb(110, 172, 218) 85%); */
    background-color:  rgb(2, 21, 38);
    padding: 2vw;
    
}
.cred > h1{
    color: white;
    font-size: 20px;
}
.policies > button{
    color: whitesmoke;
    font-size: 20px;
    margin: 20px;
    
}
.policies > button:hover{
    transition: 0.5s;
    color: whitesmoke;
}
