<<<<<<< HEAD
.container{
    justify-content: center;
    /* background: linear-gradient(to left, #eee 15%, rgb(36, 33, 33) 85%); */
    background: linear-gradient(to left, rgb(0, 0, 0) 10%, rgb(249, 251, 255) 85%);
    text-align: center;
    color: white;
    width: 100%;
    height: 400px;
    display: grid;
    align-items: baseline;
    align-content: center;
    justify-items: center
    
}
h2{
    color: white;
    font-weight: 500;
}
.bi{
    margin: 5px;
}


.Component input{
    margin: 5px;
    width: 350px;
    height: 35px;
    border-radius: 2px;
    border-style: none;
}
.Component button{
    height: 35px;
    width: 80px;
    color: white;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    transition-property: color;
    transition-duration: 1s;
    color: white ;

}    
.Component button:hover, .Component:focus{
    color: white;
    
}
    

p{
    font-size: 1vw;
    font-weight: 300;
=======
.container{
    justify-content: center;
    /* background: linear-gradient(to left, #eee 15%, rgb(36, 33, 33) 85%); */
    background: linear-gradient(to left, rgb(0, 0, 0) 10%, rgb(249, 251, 255) 85%);
    text-align: center;
    color: white;
    width: 100%;
    height: 400px;
    display: grid;
    align-items: baseline;
    align-content: center;
    justify-items: center
    
}
h2{
    color: white;
    font-weight: 500;
}
.bi{
    margin: 5px;
}


.Component input{
    margin: 5px;
    width: 350px;
    height: 35px;
    border-radius: 2px;
    border-style: none;
}
.Component button{
    height: 35px;
    width: 80px;
    color: white;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    transition-property: color;
    transition-duration: 1s;
    color: white ;

}    
.Component button:hover, .Component:focus{
    color: white;
    
}
    

p{
    font-size: 1vw;
    font-weight: 300;
>>>>>>> ef4daf8f38df261364c3abb4e10557cf665ae882
}