/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   */
  .FormMate{
    width: 100vw;
    height: 90vh;
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, rgb(0, 0, 0) 10%, rgb(249, 251, 255) 85%);
    box-sizing: border-box;
    

  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: sans-serif;
    justify-content: space-between;
  }
  
  .fancy-input .fancy-input--input {
    display: block;
    font-size: 14pt;
    line-height: 1;
    padding: 15px;
    outline: none;
    border: none;
    pointer-events: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .fancy-input {
    transition: 0.5s ease;
    position: relative;
    margin-bottom: 50px;
  }
  .fancy-input:hover, .fancy-input:focus-within {
    transform: scale(1.1);
  }
  .fancy-input::before, .fancy-input::after {
    content: "";
    position: absolute;
    transition: 0.5s ease;
    box-sizing: border-box;
    pointer-events: none;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, border 0s 0.5s ease-in-out;
    width: 0%;
    height: 0%;
  }
  .fancy-input::before {
    top: 0;
    left: 0;
    border-left: 3px solid transparent;
    border-top: 3px solid transparent;
  }
  .fancy-input::after {
    bottom: 0;
    right: 0;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }
  .fancy-input:hover::before, .fancy-input:focus-within::before, .fancy-input:hover::after, .fancy-input:focus-within::after {
    width: 100%;
    height: 100%;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  }
  .fancy-input:hover::before, .fancy-input:focus-within::before {
    border-left: 3px solid #2c3e50;
    border-top: 3px solid #2c3e50;
  }
  .fancy-input:hover::after, .fancy-input:focus-within::after {
    border-right: 3px solid #2c3e50;
    border-bottom: 3px solid #2c3e50;
  }
  
  .fancy-input--input {
    transition: 0.2s ease;
  }
  .fancy-input--input::placeholder {
    visibility: hidden;
  }
  .fancy-input--input:valid {
    color: rgb(22, 31, 22);
  }
  .fancy-input--input:valid ~ .fancy-input--label, .fancy-input--input:not(.fancy-input--input:placeholder-shown) ~ .fancy-input--label {
    opacity: 0;
  }
  .fancy-input--input:focus:not(.fancy-input--input:valid) ~ .fancy-input--label, .fancy-input--input:hover:not(.fancy-input--input:valid) ~ .fancy-input--label {
    opacity: 1;
  }
  .fancy-input--input:hover ~ .fancy-input--label, .fancy-input--input:focus ~ .fancy-input--label {
    color: white;
    font-size: 12px;
    transform: translateX(-12px) translateY(-40px);
  }
  
  .fancy-input--label {
    opacity: 1;
    color: #7f8c8d;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 15px;
    transition: 0.5s ease;
  }

 span{
    color: black;
 }

 .savekar button{
    margin-top: 20px;
 }
